data/
**/bin/
**/.config/
**/Migrations/
**/Debug/
**/obj/
**/publish/
**/Release/
**/.git/
**/.idea/
**/.vscode/
flake.nix
flake.lock
docker-compose.yml
README.md
.gitignore
lt-docker.sln
**/DS_Store
**/Dockerfile
**/*.globalconfig